<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Administration</title>
    <meta charset="utf-8">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid darkblue;
        }

        th, td {
            padding: 5px;
        }

    </style>
</head>

<body>
<h4>Существующие пользователи</h4>
<table>
    <thead>
    <tr>
        <td style="width: 10%">Id</td>
        <td style="width: 10%">Логин</td>
        <td style="width: 10%">Пароль</td>
        <td style="width: 10%">Роль</td>
        <td style="width: 10%">Имя</td>
        <td style="width: 30%">Адрес</td>
        <td style="width: 20%">Телефоны</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.role.name}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.address.street}"></td>
        <td>
            <ul>
                <li th:each="phone : ${user.phones}" th:text="${phone.number}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{${actions}}">К списку действий</a>
</body>
</html>
