<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Login</title>
</head>
<body>
<div class="top">
    <form action="newUser" method="post">
        <label>
            Логин &nbsp;
            <input type="text" name="login" value="" required>
        </label> <br/>
        <label>
            Имя &nbsp;
            <input type="text" name="name" value="" required>
        </label> <br/>
        <label>
            Адрес &nbsp;
            <input type="text" name="address" value="" required>
        </label> <br/>
        <label>
            Роль &nbsp;
            <select id="role" name="role" required>
                <option value="no-select" selected>-- Выберите роль --</option>
                <#list roles as role>
                    <option value="${role}">${role}</option>
                </#list>
            </select>
        </label> <br/>
        <label>
            Основной телефон &nbsp;
            <input type="tel" name="phone1" value="" pattern="\+\d+\(\d{3}\)\d{3}-\d{2}-\d{2}" required>
        </label> <br/>
        <label>
            Дополнительный телефон &nbsp;
            <input type="tel" name="phone2" value="\+\d+\(\d{3}\)\d{3}-\d{2}-\d{2}">
        </label> <br/>
        <label>
            Пароль<br/>
            <input type="password" name="password1" value="" required>
        </label> <br/>
        <label>
            Повторите пароль<br/>
            <input type="password" name="password2" value="" required>
        </label> <br/>
        <br/>
        <input type="submit" value="Добавить">
    </form>
</div>
</body>
</html>