<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Administration</title>
    <meta charset="utf-8">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/appGame.js"></script>
</head>

<body>
<h2>Добро пожаловать [[${playerName}]]!</h2>
<div>
    <div id="game-start">
        <form id="new-game-form" accept-charset="utf-8">
            <table class="layoutTable">
                <tr>
                    <th style="width: 50%">Введите число от 1 до 10</th>
                    <td style="width: 30%"><input id="number-input" type="number" name="number" value="" min="1" max="10" required></td>
                    <td><input id="number-button" type="submit" value="Начать" th:onclick="start([[${sessionId}]])"></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="game-result" >
        <h5 id="game-header"></h5>
        <label id="label-result"></label>
    </div>
    <div id="game-process">
        <table class="layoutTable">
            <tbody id="game-equation"></tbody>
        </table>
    </div>
</div>
</body>
</html>
