<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Administration</title>
    <meta charset="utf-8">
</head>
<body>
<div class="top">
    <br/>
    <h3>Залогиньтесь, чтобы начать игру:</h3>
    <form id="login-form" th:action="@{${login}}" th:object="${data}" th:method="post" accept-charset="utf-8">
        <label for="login-input">Логин:</label>
        <input id="login-input" name="login" type="text" th:value="${data.login}" value="vitkus"/>
        <br/>
        <label for="password-input">Пароль:</label>
        <input id="password-input" name="password" type="password" th:value="${data.password}" value="12345"/>
        <br/><br/>
        <input type="submit" value="Войти">
    </form>
</div>
</body>
</html>